<div *ngIf="!usernameSent">
    <h1 class="d-flex justify-content-center align-items-center mt-5 text-white">Forgot your password?</h1>
    <form (ngSubmit)="forgot()" class="d-flex justify-content-center align-items-center flex-column my-2">
        <div class="p-2 my-2">
            <label for="email" class="mx-1 text-white">Email</label>
            <input type="text" id="email" name="email" [(ngModel)]="email" required class="form-control">
        </div>
        <p class="text-danger">{{ this.message }}</p>
        <div class="p-2 my-2 d-flex justify-content-center align-items-center">
            <button type="submit" class="px-5 btn btn-outline-success mx-3">Yes</button>
            <a class="dropdown-item text-info text-center mx-3" routerLink="/">No</a>
        </div>
    </form>
</div>

<div *ngIf="usernameSent">
    <h2 class="text-white text-center my-2">If a user with the entered email exists, an email with instructions and a link to reset your password has been sent to you. Please check your inbox and follow the provided instructions to reset your password. Thank you!</h2>
</div>