<h2 class="d-flex justify-content-center align-items-center mt-5 text-white text-center">System configuration</h2>
<div *ngIf="!created">
<h3 class="d-flex justify-content-center align-items-center mt-5 text-white text-center">Configure system by creating an App Admin</h3>
<form (submit)="submitForm()" class="d-flex align-items-center flex-column my-2 container">
  <div class="p-2 my-2 align-items-center">
    <label for="UserName" class="mx-1 text-white">
      Admin User Name
    </label>
    <input type="text" name="UserName" [(ngModel)]="UserName" required class="form-control">
  </div>
  
  <div class="p-2 my-2 align-items-center">
    <label for="Email" class="mx-1 text-white">
      Admin Email
    </label>
    <input type="email" name="Email" [(ngModel)]="Email" required class="form-control">
  </div>
  
  <div class="p-2 my-2 align-items-center">
  <label for="Password" class="mx-1 text-white">
    Admin Password
  </label>
  <input type="password" name="Password" [(ngModel)]="Password" required class="form-control">
  </div>
  <div class="p-2 my-2 align-items-center">
    <label for="ConfirmPassword" class="mx-1 text-white">
      Confirm Password
    </label>
    <input type="password" name="ConfirmPassword" [(ngModel)]="ConfirmPassword" required class="form-control">
  </div>
  <div class="p-2 my-2 align-items-center">
    <button type="submit" class="px-5 btn btn-outline-success">Create Admin!</button>
  </div>  
  <p *ngIf="invalidRegistration" class="invalid-register text-danger">{{this.message}}</p>
</form>
</div>

<div *ngIf="created">
  <h2 class="text-white text-center">Success! Admin account created. Please check your email for further instructions on how to confirm your account.</h2>
</div>