<div *ngIf="!passwordReset">
<h1 class="d-flex justify-content-center align-items-center mt-5 text-white">Reset your password</h1>
<form (ngSubmit)="reset()" class="d-flex justify-content-center align-items-center flex-column my-2">
    <div class="p-2 my-2">
        <label for="password" class="mx-1 text-white">New Password</label>
        <input type="password" name="password" [(ngModel)]="password" required class="form-control">
    </div>
    <div class="p-2 my-2">
        <label for="confirmPassword" class="mx-1 text-white">Confirm password</label>
        <input type="password" name="confirmPassword" [(ngModel)]="passwordConfirm" required class="form-control">
    </div>
    <p *ngIf="invalidResetAttempt" class="text-danger">{{ this.message }}</p>
    <div class="p-2 my-2 d-flex justify-content-center align-items-center">
        <button type="submit" class="px-5 btn btn-outline-success mx-3">Yes</button>
        <a class="dropdown-item text-info text-center mx-3" routerLink="/">Cancel</a>
    </div>
</form>
</div>

<div *ngIf="passwordReset">
    <h2 class="text-white text-center">You have successfully reset your password!</h2>
</div>